<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/header') %>
        <div class="container-fluid">
            <div class="row">
                <%- include('../includes/nav') %>
                <div
                    class="card col-xl-10 offset-xl-2 col-9 offset-3 col-md-9 offset-md-3 col-lg-10 offset-lg-2 col-sm-8 offset-sm-4 mr-1" >
                    <div class="card-header"><h3><%= card_header %></h3></div>

                    <div class="card-body">
                        <div class="">
                        <form id="driver-form">
                            <div class="form-row">
                            <div class="form-group col">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" value="<%= form && form.first_name %>">
                            </div>
                            <div class="form-group col">
                                <label for="last_name">Last Name</label>
                                <input type="text" name='last_name' class="form-control" value="<%= form && form.last_name %>">
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="nationality">Nationality</label>
                                <input type="text" name="nationality" class="form-control" value="<%= form && form.nationality %>">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" name="address" class="form-control" value="<%= form && form.address %>">
                            </div>
                            <div class="form-group">
                                <label for="id_card_no">ID Card Number</label>
                                <input type="text" name="id_card_no" class="form-control" value="<%= form && form.id_card_no %>">
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="tel" name="mobile" class="form-control" value="<%= form && form.mobile %>">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" value="<%= form && form.email %>">
                            </div>
                            <div class="form-group">
                                <label for="sponsor">Sponsor</label>
                                <input type="text" name="sponsor" class="form-control" value="<%= form && form.sponsor %>">
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <textarea name="remarks" class="form-control" cols="30" rows="10" value="<%= form && form.remarks %>"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please
                <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->
        <script>
            $(document).ready(function(){
                $('#driver-form').submit(function(event){
                    const data = $(this).serialize();
                    event.preventDefault();
                    $.ajax({
                        url: "<%= action %>",
                        method: "<%= method %>",
                        data,
                        success: function(result){
                            alert('success');
                        },
                        error: function(){
                            alert('error');
                        }
                    })
                })
            });
        </script>
    </body>
</html>
